@import "../../styles/variables";

.movieItem {
  display: flex;
  flex-direction: column;
}

.poster {
  border-radius: 1.6rem;
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.title {
  margin-top: 0.8rem;
  padding: 0.8rem 1.6rem;
  background-color: $secondary-color;
  border-radius: 1.6rem;
  font-size: 1.6rem;
  color: $text-color;
}
