@import "../../styles/variables";
@import "../../styles/placeholders";

.nav {
  @extend %wrapper;
  height: 4.8rem;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  @media (width >= 600px) {
    height: 6.4rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 500;
}

/***************/
/* <MenuBtn /> */
/***************/

.menuBtn {
  padding: 0;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $base-color;
  fill: $text-color;
  border: none;
  cursor: pointer;

  & svg {
    width: 100%;
    height: 100%;
  }

  & .line {
    transition: transform 0.25s ease-in 0.25s, rotate 0.25s ease-in,
      opacity 0s 0.25s;
    transform-origin: center;
  }

  &.active {
    & .line {
      transition: transform 0.25s ease-in, rotate 0.25s ease-in 0.25s,
        opacity 0s 0.25s;
    }

    & .top {
      transform: translateY(20px);
      rotate: 45deg;
    }

    & .middle {
      opacity: 0;
    }

    & .bottom {
      transform: translateY(-20px);
      rotate: -45deg;
    }
  }

  @media (width >= 600px) {
    width: 4rem;
    height: 4rem;
  }

  @media (width >= 800px) {
    display: none;
  }
}

/**********************************************************/

.navList {
  display: flex;
  align-items: center;
  gap: 0;
  list-style: none;

  @media (width < 800px) {
    width: 100%;
    height: calc(100vh - 4.8rem);
    flex-direction: column;
    position: absolute;
    top: 4.8rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    &.active {
      transform: translateX(0%);
    }
  }

  @media (width >= 600px) {
    height: calc(100vh - 6.4rem);
    top: 6.4rem;
  }

  @media (width >= 800px) {
    height: 100%;
    gap: 3.2rem;
  }
}

.navItem {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;

  @media (width < 800px) {
    border-bottom: 1px solid $text-color;
  }

  @media (width >= 600px) {
    font-size: 2.4rem;
  }

  @media (width >= 800px) {
    height: 100%;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 0%;
      height: 2.5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      background-color: $text-color;
      transition: width 0.25s ease-in-out, left 0.25s ease-in-out;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}

.navLink {
  padding: 0.8rem 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  svg {
    height: 1.6rem;
    margin-top: 1px;
    stroke-width: 2px;

    @media (width >= 600px) {
      height: 2rem;
      margin-top: 2px;
    }

    @media (width >= 800px) {
      display: none;
    }
  }

  @media (width >= 800px) {
    padding: 0;
  }
}
