@use "sass:color";

@import "../../styles/variables";

.searchControls {
  margin-top: 2.4rem;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: auto auto;
  grid-auto-rows: 3.2rem;
  position: relative;

  @media (width >= 300px) {
    grid-template-columns: 1fr auto auto;
  }

  @media (width >= 400px) {
    grid-auto-rows: 4rem;
  }

  @media (width >= 800px) {
    grid-auto-rows: 4.8rem;
  }
}

.searchStringInput {
  grid-column: 1 / span 2;
  padding: 0 1.2rem;
  background-color: #1e4f62;
  color: $text-color;
  border-radius: 1.6rem;
  font-size: 1.2rem;

  @media (width >= 300px) {
    grid-column: 1 / span 1;
  }

  @media (width >= 400px) {
    font-size: 1.6rem;
  }

  @media (width >= 800px) {
    font-size: 1.8rem;
  }

  &:focus {
    background-color: $secondary-color;
  }

  &::placeholder {
    color: darken($text-color, 20%);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.6rem;
  background-color: #1e4f62;
  color: darken($text-color, 20%);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

  & > svg {
    width: calc(2 / 3 * 100%);
  }

  &:enabled:hover {
    color: $text-color;
    background-color: $secondary-color;
  }

  &:disabled {
    border: 3px solid #1e4f62;
    background-color: transparent;
    cursor: auto;
  }

  @media (hover: none) {
    color: $text-color;
    background-color: $secondary-color;
  }
}

.controlBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.pageBtnsBtn {
  @media (width < 300px) {
    grid-column: 1 / span 1;
    justify-self: start;
  }
}

.advancedSearchBtn {
  @media (width < 300px) {
    grid-column: 2 / span 1;
    justify-self: end;
  }
}

.searchResults {
  padding-block: 1.6rem;
}

.pageBtns {
  visibility: hidden;
  opacity: 0;
}

.active {
  visibility: visible;
  opacity: 1;
}

.pageBtn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 3.2rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  &:first-child {
    left: 1.6rem;
  }

  &:last-child {
    right: 1.6rem;
  }

  @media (width >= 400px) {
    width: 4rem;
  }

  @media (width >= 800px) {
    width: 4.8rem;
  }
}
