@use "sass:color";

@import "../../styles/variables";

.searchStringInput {
  padding: 0.8rem 1.2em;
  background-color: #1e4f62;
  color: $text-color;
  border: none;
  border-radius: 1.6rem;
  font-size: 2rem;
}

.searchStringInput::placeholder {
  color: darken($text-color, 20%);
}
